.menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    transition: all 0.5s ease-out;
}

.menu-open {
    visibility: visible;
    opacity: 1;
    transform: translateY(25%);
}

.navbar {
    background: rgba(44, 44, 44, 0.82);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(44, 44, 44, 0.22);
}